/*------------------------------- mobile ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@media only screen and (min-width: 375px){

	body{
		font-family: Roboto Mono, sans-serif;
		background-color: #300067;
		color:#FFFFFF;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		width: 100%;
		display:flex;
		flex-wrap: wrap;
		/*max-width: 375px;*/
	}
	main {
		background-color: #5506B1;
		margin-top: 2em;
		padding: 1em 0em;
		width: 100%;
	}
	h1{
		font-size: 38px;
		margin-left: 0.5em;
		/*width: 90vw;*/

	}
	h2 {
		font-size: 24px;
		padding-left: 1em;
	}
	p{
		font-size: 14px;
		margin-top:-3px;
		margin-left: 1.2em;
	}

	.container{
		margin-left: 0.5em;
		display:flex;
	 	width: 100%;
	}
	.container2{
		margin-left: 0.5em;
		display:flex;
	 	width: 100%;
	}
	.container3{
		margin-left: 0.5em;
		display:flex;
	  	width: 100%;
	}
	
	#spacex{
		margin-left: 0.5em;
		width: 50%;
		transform: rotate(35deg);
	}
	#afbeelding{
		text-align: center;
}
}

/* ----------------- ipad ---------------------- */
@media only screen and (min-width: 768px){
	header{
		display:flex;
		grid-template-columns: 1fr 1fr;
	}
	main{
		display:grid;
		grid-template-columns: 1fr;
	}
	h1{
		font-size: 48px;
		margin-left: 0.5em;
		/*width: 90vw;*/

	}
	h2 {
		font-size: 28px;
		padding-left: 1em;
	}
	p{
		font-size: 22px;
		margin-top:-3px;
		margin-left: 1.2em;
	}
		.container{
		margin-left: 2em;
		display:flex;
	 	width: 80%;
	 	text-align: center;
	}
	.container2{
		margin-left: 2em;
		display:flex;
	 	width: 80%;
	 	text-align: center;
	}
	.container3{
		margin-left: 2em;
		display:flex;
	  	width: 80%;
	  	text-align: center;
	}
	
	#spacex{
		margin-left: 0.5em;
		width: 70%;
		transform: rotate(35deg);
	}
	#afbeelding{
		text-align: right;
}

/* ----------------- laptop ---------------------- */
@media only screen and (min-width: 768px){
